/* scroll nya biar smooth */
html{
    scroll-behavior: smooth;
}
/* bg */
body {
  background: linear-gradient(to right, #0f0f0f, #2b2b2b);
}
/* buat warna section */
a {
  color: inherit;
  text-decoration: none;
}
a,
i {
  pointer-events: auto !important;
}

/* biar gak melebihi layar */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.menu {
  display: none;
  font-size: 22px;
  cursor: pointer;
  color: white;
    z-index: 999;
}
.burger {
  display: block;
  cursor: pointer;
}

.burger i {
  font-size: 19px;
  line-height: 1;
}