*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* bg */
body {
    font-family: Arial, sans;
    background: #f2f2f2;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
}
