 /* bg */
body {
    background: #053107;
    background: linear-gradient( to right, #042b06, #0a5c0a)
} 
.container {
}
/* buat warna section */
a {
    color: inherit;
    text-decoration: none;
}
a, i {
    pointer-events: auto !important;
}
