/* bg */
body {
  background: #053107;
  background: linear-gradient(to right, #0f0f0f, #2b2b2b);

}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
section {
  scroll-margin-top: 100px;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* buat warna section */
a {
  color: inherit;
  text-decoration: none;
}
a,
i {
  pointer-events: auto !important;
}
/* atur supaya gak melebar melebihi layar */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}