/* bg */
body {
    font-family: Arial, sans;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    margin-top: 650px;
}