@media (max-width: 768px) {
  .container,
  .containersatu,
  .containerdua,
  .containertiga,
  .containerempat,
  .containerlima {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 16px;
}
  /* home */
  .containersatu {
    flex-direction: column;
    margin-top: 150px;
    text-align: center;
  }
  .nama {
    padding: 0;
    top: 0;
  }
  .nama h1 {
    font-size: 25px;
    left: 0;
    margin-top: 10px;
  }
  .nama h2 {
    font-size: 20px;
    left: 0;
  }
  .tag {
    width: 100%;
    font-size: 15px;
    position: static;
    margin-top: -6px;
  }
  .tag h2 {
    font-size: 16px;
  }
  .foto img {
    width: 220px;
    height: 220px;
    left: 0;
    margin-top: 30px;
  }
  /* user */
  .bg {
    height: auto;
    top: 0;
  }
  .containerdua {
    width: 100%;
    height: 85px;
    flex-direction: column;
    left: 0;
    margin-top: 200px;
    padding: 20px;
    border-radius: 20px;
}
  .fotokedua {
    align-self: center;
  }
  .fotokedua img {
    width: 178px;
    left: 0;
    top: 0;
  }
  .namadua h2 {
    font-size: 26px;
    left: 0;
    text-align: center;
    color: #d4ad4e;
  }
  .namadua p {
    font-size: 14px;
    left: 0;
    top: 28px;
    text-align: center;
    max-width: 100%;
  }

  /* karya */
  .containertiga {
    height: auto;
    margin-top: 390px;
  }
  .website h2 {
    font-size: 26px;
    position: relative;
    top: 20px;
  }
  .gambar img {
    width: 100%;
    max-width: 300px;
    margin-top: 40px;
  }
  .deskripsi p {
    font-size: 14px;
    padding: 0 10px;
  }

  
  /* skill */
  .containerempat {
    margin-top: 160px;
  }
  .skill {
    grid-template-columns: 1fr;
    margin-left: 0;
    justify-items: center;
  }
  .title {
    width: 100%;
    margin: 30px 0;
    text-align: center;
  }
  .title h1,
  .title h2 {
    display: fixed;
    left: 0;
    top: 0;
  }
  .title p {
    display: fixed;
    left: 0;
    top: 0;
    font-size: 16px;
  }
  /* skilldua */
  .containerlima{
    margin-top: 150px;
  }
  .skilldua img {
    width: 140px;
    margin-top: 70px;
  }
  .texttiga {
    font-size: 13px;
    padding: 0 10px;
  }
  /* kontak */
  .kontak-wadah{
    padding: 0;
  }
  .kontak-form {
    padding: 60px 20px;
    margin-top: -150px;
    margin-bottom: 105px;
    
  }
/* hamburger */
.burger{
  font-size: 20px;
}

#Menu {
  position: fixed;
  top: -300px;        
  left: 0;
  width: 100%;
  height: 300px;       
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 0.35s ease;
  z-index: 9999;
}
#Menu.active {
  top: 0;             
}
#Menu a {
  color: #d4ad4e;
  font-size: 18px;
  margin: 8px 0;
  text-decoration: none;
  font-family: rowdies, sans-serif;
}

#Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent; 
  display: none;
  z-index: 9000;
}
}


