 @media (max-width: 576px) {

  .containersatu {
    padding: 80px 20px;
    text-align: left;
  }
  .foto{
    align-items: center;
  }
  .nama{
    font-size: small;
  }
  .container{
    padding: 1000px;
  }
  body{
    background-repeat: repeat;
  }
}