 @media (max-width: 768px) {

  .container {
    padding: 80px 20px;
    text-align: left;
  }

  .container h1 {
    font-size: 28px;
    line-height: 1.2;
  }

  .container h2 {
    font-size: 16px;
  }

  .container-img {
    position: relative;   /* JANGAN absolute di HP */
    width: 100%;
    max-width: 300px;
    margin-top: 40px;
  }

  .container-bg {
    width: 220px;
    height: 220px;
    right: -80px;
    bottom: -80px;
  }

}