.containertiga{
    width: 100%;
    height: 85px;
    margin-top: 150px;
}
.website h2{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #d4ad4e;
    position: relative;
    top: 40px;
}
.gambar img{
    width: 600px;
    height: 300px;
    margin-top: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    position: relative;
    left: 225px;
    top: -30px;
    box-shadow:  0 10px 10px rgb(8, 78, 29);   
}
.projek{
    width: 100%;
    height: 500px;
    background-color: #235347
}