#contact{
  scroll-margin-top: -20px;
}


.kontak-wadah {
  min-height: 10vh;
  padding: 100px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

.kontak-form {
  width: 100%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 80px;
  border-radius: 16px;
  text-align: center;
}

.kontak-form h2 {
  margin-bottom: 10px;
  color: #d4ad4e;
  font-family: rowdies, serif;
}

.kontak-form p {
  font-size: 14px;
  margin-bottom: 25px;
  color: #cbd5e1;
}

.kontak-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.kontak-text input,
.kontak-text textarea {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #000000;
  color: #fff;
  resize: none;
}

.kontak-text textarea {
  min-height: 120px;
}

.kontak-text button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(135deg, #000000, #816a2f);
  color: #fff;
  font-weight: 600;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.kontak-text button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
