@media (min-width: 1025px) {
  .burger {
    display: none;
  }

  /* garis */
  .garisdua{
    padding-bottom: 0;    
    margin-bottom: 0;      
    position: relative;
    top: 40px;
}
  .burger {
    display: none;
  }
  .menu {
    display: none;
  }
}