@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  font-size: 15px;
  font-weight: bold;
  font-family: Garamond;
  letter-spacing: 20px;
  color: #d4ad4e;
}
.sosmed div:hover {
  background: transparent;
  transform: scale(1.1);
  color: #d4ad4e;
}

.sosmed {
  list-style: none;
  display: flex;
  gap: 25px;
}

.sosmed a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: 0.2s;
}

.sosmed a:hover {
  color: #d4ad4e;
}

.burger{
  font-size: 20px;
}
