* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #daf1de;
}
.container{

}
/* bagian nama dan deks*/
.nama {
  position: relative;
  top: 80px;
  left: 55px;
  font-size: 20px;
}
.bagiandesk {
  position: relative;
  top: 75px;
  left: 55px;
}
.deskripsi {
  position: relative;
  top: 100px;
  left: 55px;
  width: 40vw;
  font-size: 18px;
  line-height: 1.6;
}
.tombol{
  position: relative;
  top: 120px;
  left: 55px;
  padding: 10px 20px;
  background-color: #235347;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
/* bagian foto */
.foto{
  width: 50vw;
  height: 100vh;
  background-image: url("../img/foto.jpg");
  background-position: center;
  background-size: cover;      
  background-repeat: no-repeat; 
  position: absolute;
  right: 0;
  top: 0;
}