/* bg */
body {
  font-family: Arial, sans;
  background: #163832;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* wadah */
.containersatu {
  width: 1050px;
  background: #daf1de;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-top: 500px;
}
/* nama */
.nama {
  flex: 1;
  padding: 50px;
  position: relative;
  top: 100px;
}
.nama h1 {
  font-size: 65px;
  font-weight: 900;
  position: relative;
  top: 15px;
  left: 35px
}
.nama h1 span {
  color: #d4ad4e;
  font-size: 85px;
}
.nama p {
  margin-top: 10px;
  line-height: 1.5;
  max-width: 350px;
}
/* nama akhir */
/* bagian bawah nama */
.tag {
  background: #d4ad4e;
  color: white;
  padding: 8px 15px;
  display: inline-block;
  margin: 15px 0;
  font-weight: bold;
  border-radius: 4px;
}
/* bagian bawah nama akhir */
/* tombol */
.btn {
  margin-top: 25px;
  display: inline-block;
  background: #d4ad4e;
  color: white;
  padding: 12px 25px;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transform: 0, 03s;
  -webkit-transform: 0, 03s;
  -moz-transform: 0, 03s;
  -ms-transform: 0, 03s;
  -o-transform: 0, 03s;
}
.btn:hover {
  background: #366b61;
  color: #d4ad4e;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
/* tombol akhir */
/* foto */
.foto {
  flex: 1;
  position: relative;
}
.foto img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
  border-left: rgb(15, 82, 12) solid 2px;
}
/* foto akhir */
/* icon sosial media */
.icons {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.icons div {
  background: #d4ad4e;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px;
}
.tombol {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 17px;
}
.tomboldua {
  position: relative;
  top: 10px;
  left: 12px;
  font-size: 17px;
}
.tomboltiga {
  position: relative;
  top: 10px;
  left: 12px;
  font-size: 17px;
}
.tombolempat {
  position: relative;
  top: 10px;
  left: 12px;
  font-size: 17px;
}
.tombollima {
  position: relative;
  top: 10px;
  left: 12px;
  font-size: 17px;
}
.icons div:hover {
  background: #366b61;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  color: #d4ad4e;
}