/* nama utama */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
/* buat desk */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/* wadah */
.containersatu {
  width: 100%;
  height: auto ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
/* nama */
.nama {
  flex: 1;
  padding: 50px;
  position: relative;
  top: -50px;
}
.nama h1 {
  font-size: 85px;
  font-weight: 900;
  position: relative;
  top: 10px;
  left: 35px;
  color:  #f8fafc;
  font-family: rowdies, sans-serif;
}
.nama h2{
  font-size: 50px;
  font-weight: 400;
  position: relative;
  top: 20px;
  left: 35px;
  color:  #d4ad4e;
  font-family: merriweather, serif;
}
/* nama akhir */
/* bagian bawah nama */
.tag  {
  width: 900px;
  color: rgb(255, 250, 250);
  margin: 15px 0;
  position: absolute;
  z-index: 99;
}
.nama .tag h2 {
  font-size: 40px;
  font-family: merriweather, serif;
}
/* bagian bawah nama akhir */
/* foto */
.foto {
  flex: 1;
  display: flex;
  justify-content: center;
}
.foto img {
  width: 400px;
  height: 400px;
  position: relative;
  left: -10px;
  object-fit: cover;
  filter: brightness(80%);
  border-radius: 2000px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
/* foto akhir */
/* icon sosial media */
.icons {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 99;
  background: transparent;
  color: white
}
.icons div {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.tombol {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 17px;
}
.tomboldua {
  position: relative;
  top: 10px;
  left: 12px;
  font-size: 17px;
}
.tomboltiga {
  position: relative;
  top: 10px;
  left: 12px;
  font-size: 17px;
}
.tombolempat {
  position: relative;
  top: 10px;
  left: 12px;
  font-size: 17px;
}
.tombollima {
  position: relative;
  top: 10px;
  left: 12px;
  font-size: 17px;
}
.tombolenam {
  position: relative;
  top: 10px;
  left: 12px;
  font-size: 17px;
}
.icons div:hover {
  background: transparent;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  color: #d4ad4e;
}