#skill{
  scroll-margin-top: 135px;
}

.containerempat {
  margin-top: 780px;
}
.title {
  margin-top: -300px;
  margin-left: 590px;
  width: 500px;
  font-size: 25px;
}
.title p {
  position: relative;
  top: -90px;
  left: 50px;
  max-width: 700px;
  color: #f8fafc;
}
.title h1  {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #d4ad4e;
  position: relative;
  top: -150px;
  left: 25px;
    font-family: rowdies, serif;
}
.title h2 {
  font-size: 25px;
  font-weight: 900;
  position: relative;
  top: -150px;
  left: 230px;
  color: #f8fafc;
}
.skill {
  display: grid;
  gap: 50px;
  margin-top: 80px;
  margin-left: 250px;
}
.skill img {
  width: 200px;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 5px 10px #d4ad4e;
  filter: brightness(0.6);
  transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.skill img:hover {
  filter: brightness(0.8);
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 10px 10px #d4ad4e;
  -webkit-filter: brightness(0.8);
}
