.containerempat {
  margin-top: 650px;
}
.title {
  margin-top: -300px;
  margin-left: 590px;
  width: 500px;
  font-size: 25px;
}
.title p {
  position: relative;
  top: -90px;
  left: 50px;
  max-width: 500px;
  color: #f8fafc;
}
.title h1  {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #d4ad4e;
  position: relative;
  top: -200px;
  left: 22px;
}
.title h2 {
  font-size: 25px;
  font-weight: 900;
  position: relative;
  top: -190px;
  left: 230px;
  color: #f8fafc;
}
.skill {
  display: grid;
  gap: 50px;
  margin-top: 80px;
  margin-left: 250px;
}
.skill img {
  width: 200px;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgb(8, 78, 29);
  filter: brightness(0.6);
  transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.skill img:hover {
  filter: brightness(1.1);
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 20px 40px rgb(8, 78, 29);
}
