#skilldua{
  scroll-margin-top: 100px;
}


.containerlima {
  margin-top: 355px;
}
.textdua h2 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #d4ad4e;
  position: relative;
  top: 40px;
  font-family: rowdies, serif;
}
.texttiga{
  position: relative;
  top: -50px;
  max-width: 900px;
  color: #f8fafc;
  font-size: 15px;
  text-align: center;
  line-height: 1.6;
  font-family: merriweather, serif;
  margin: 0 auto;
}
.skilldua {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.skilldua img {
  width: 200px;
  height: auto;
  margin-top: 100px;
  border-radius: 30px;
  margin-bottom: 100px;
  box-shadow: 0 5px 10px #d4ad4e;
  align-items: center;
  filter: brightness(0.6);
  transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  -webkit-filter: brightness(0.6);
}
.skilldua img:hover {
  filter: brightness(0.8);
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 10px 10px #d4ad4e;
  -webkit-filter: brightness(0.8);
}
