@media (max-width: 1024px) {
  
  /* keseluruhan */
  html, body {
    overflow-x: hidden;
    max-width: 100%;
  }

  * {
    left: auto !important;
    right: auto !important;
  }
.menu {
    display: block;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.icons {
  display: none !important;
}
  /* home */
  .containersatu {
    margin-top: 130px;
    padding: 0 40px;
  }

  .nama h1 {
    font-size: 56px;
  }

  .nama h2 {
    font-size: 30px;
  }

  .tag h2 {
    font-size: 20px;
  }

  .foto img {
    width: 300px;
    height: 300px;
  }

  /* user */
.containerdua {
    width: 100%;
    height: 85px;
    flex-direction: column;
    left: 0;
    margin-top: 350px;
    padding: 20px;
    border-radius: 20px;
  }
  .fotokedua{
    align-self: center;
  }
  .fotokedua img {
    width: 220px;
  }

  .namadua h2 {
    font-size: 34px;
    text-align: center;
    color: #d4ad4e;
  }
  .namadua p {
    font-size: 19px;
    max-width: 850px;
    text-align: center;
}
  /* karya*/
  .containertiga {
    height: auto;
    margin-top: 310px;
  }
  .gambar img {
    width: 420px;
    max-width: 100%;
  }
  .deskripsi p {
    font-size: 15px;
    padding: 0 30px;
  }
  /* skill */
  .containerempat {
    margin-top: 310px;
  }
  .skill {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    justify-items: center;
  }
  .skill img {
    width: 180px;
  }
  .title {
    width: 100%;
    margin: 40px auto;
    text-align: center;
  }
  .title h1 {
    font-size: 36px;
  }

  .title h2 {
    font-size: 22px;
  }

  .title p {
    display: fixed;
    left: 0;
    top: 0;
    max-width: 950px;
    text-align: center;
  }

  /* skilldua */
  .containerlima{
    margin-top: 300px;
  }
  .skilldua img {
    width: 160px;
  }

  .texttiga {
    font-size: 14px;
    padding: 0 40px;
  }

  /* kontak */
  .kontak-form {
    padding: 50px 110px;
  }
  .kontak-wadah{
    padding: 50px 60px;
    align-items: center;
    margin-bottom: 105px;
  }

  /* hamburger */
.burger{
  font-size: 20px;
}

#Menu {
  position: fixed;
  top: -300px;        
  left: 0;
  width: 100%;
  height: 300px;       
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 0.35s ease;
  z-index: 9999;
}
#Menu.active {
  top: 0;             
}
#Menu a {
  color: white;
  font-size: 18px;
  margin: 8px 0;
  text-decoration: none;
}

#Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent; 
  display: none;
  z-index: 9000;
}
}
