#user{
    scroll-margin-top: 220px;
}
.containerdua{
    width: 1050px;
    height: 85px;
    background: #d4ad4e;
    position: relative;
    left: 120px;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 420px;
    border-radius: 50px;
}
.bg{
    width: 100%;
    height: 350px;
    position: relative;
    top: -50px;
    padding-bottom: 50px;
}
.fotokedua img{
    width: 300px;
    height: auto;
    position: relative;
    top: -25px;
    left: 45px;
    border-radius: 2000px;
    box-shadow: 0 0px 10px #d4ad4e;
}
.namadua h2{
    font-size: 30px;
    font-weight: 900;
    position: relative;
    top: 23px;
    left: 40px;
    color: white;
    font-family: rowdies, serif;
}
.namadua p{
    line-height: 1.;
    max-width: 600px;
    font-size: 20px;
    position: relative;
    top: 75px;
    left: 80px;
    color: white;
}