.containerdua{
    width: 1050px;
    background: #daf1de;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}
.fotokedua img{
    width: 300px;
    height: auto;
}
.namadua h2{
    font-size: 50px;
    font-weight: 900;
    position: relative;
    top: -25px;
    left: 40px;
}
.namadua h3{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 35px;
    left: 92px;
}
.namadua p{
    line-height: 1.;
    max-width: 600px;
    position: relative;
    top: -50px;
    left: 40px;
}