.containerdua{
    width: 1050px;
    height: 85px;
    background: #d4ad4e;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 225px;
}
.bg{
    width: 100%;
    height: 350px;
    position: relative;
    top: -50px;
    background: #235347;
    padding-bottom: 50px;
}
.fotokedua img{
    width: 300px;
    height: auto;
    position: relative;
    top: -25px;
    left: -30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.namadua h2{
    font-size: 50px;
    font-weight: 900;
    position: relative;
    top: -9px;
    left: 40px;
    color: white;
}
.namadua h3{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 11px;
    left: 42px;
    color: rgb(0, 0, 0)
}
.namadua p{
    line-height: 1.;
    max-width: 600px;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 40px;
    color: white;
}