.containerdua{
    width: 1050px;
    height: 85px;
    background: #d4ad4e;
    position: relative;
    left: 120px;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 325px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.bg{
    width: 100%;
    height: 350px;
    position: relative;
    top: -50px;
    padding-bottom: 50px;
}
.fotokedua img{
    width: 300px;
    height: auto;
    position: relative;
    top: -25px;
    left: 45px;
    border-radius: 2000px;
    -webkit-border-radius: 2000px;
    -moz-border-radius: 2000px;
    -ms-border-radius: 2000px;
    -o-border-radius: 2000px;
}
.namadua h2{
    font-size: 50px;
    font-weight: 900;
    position: relative;
    top: 9px;
    left: 40px;
    color: white;
}
.namadua p{
    line-height: 1.;
    max-width: 600px;
    font-size: 20px;
    position: relative;
    top: 50px;
    left: 80px;
    color: white;
}